@import url("https://use.typekit.net/exu3mxs.css");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kohinoor", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  position: relative;
  background-color: #4654c1 !important;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  color: white !important;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none !important;
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/** HOME **/
.home-body-text-block {
  padding: 100px;
  font-weight: lighter;
}
.home-body-text-block h1 {
  font-weight: 500;
  color: #fff;
  font-size: 64px;
}
.home-body-text-block p {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  padding: 20px 0; /* Adjust the value to increase or decrease line spacing */
}
.start-chatting-btn {
  height: 50px;
  width: 200px;
  background-color: #f77b63 !important;
  font-size: large;
  font-weight: bolder;
  color: #fff;
  border-top-left-radius: 4vw !important;
  border-top-right-radius: 4vw !important;
  border-bottom-left-radius: 6vw !important; /* Adjust the value for more rounding */
  border-bottom-right-radius: 6vw !important;
  transition: 0.2s ease-in !important;
}
.start-chatting-btn:hover {
  transform: scale(1.1) !important;
}
.start-chatting-btn a {
  font-size: 22px;
  border: 0;
  outline: none;
}
figure {
  position: absolute;
}
#figure1 {
  top: 28vw;
  left: 57vw;
}
#figure2 {
  top: 41vw;
  left: 80vw;
}
#figure3 {
  top: 20vw;
  left: 82vw;
}
#figure4 {
  top: 12vw;
  left: 65vw;
}
#figure5 {
  top: 40vw;
  left: 65vw;
}
