.navbarCustom {
  background-color: #1a1a1a; /* Dark background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.navbarCustom .logo {
  height: 50px; /* Adjust logo size */
}

.navLinkCustom {
  color: #f8f9fa !important; /* Light text color */
  font-size: 1.1em; /* Slightly larger font size */
  margin-left: 20px; /* Space between menu items */
}

.navLinkCustom:hover {
  color: #007bff !important; /* Highlight color on hover */
  transition: color 0.3s; /* Smooth transition for hover effect */
}
