.navbarCustom {
  background-color: #4654C1; /* Dark background */
}

.navbarCustom .logo {
  height: 8vw; /* Adjust logo size */
}

.navLinkCustom {
  color: #f8f9fa !important; /* Light text color */
  font-size: 1.1em; /* Slightly larger font size */
  margin-right: 4vw; /* Space between menu items */
}

.navLinkCustom:hover {
  text-decoration: underline !important;
}


